In [2]:
import pandas as pd
import numpy as np
import import_ipynb

In [3]:
from get_airline_names_ import get_all_airline_names
from Real_reviews import get_reviews
from nlp_modals import get_category

C:\Users\yash\Desktop\Project\Scrape_data\airline-env\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
C:\Users\yash\Desktop\Project\Scrape_data\airline-env\lib\site-packages\sklearn\base.py:380: InconsistentVersionWarning: Trying to unpickle estimator LabelEncoder from version 1.5.1 when using version 1.6.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [6]:
all_airlines = get_all_airline_names()

In [7]:
len(all_airlines)

572

In [8]:
df = pd.read_csv('reviews.csv')

In [9]:
df

                                  reviews
0                   pretty decent airline
1                      not a good airline
2            flight was fortunately short
3       i will never fly again with adria
4     it ruined our last days of holidays
...                                   ...
4224         trip was pleasant in general
4225                unaccommodating staff
4226            you get what you paid for
4227            very bad customer service
4228           i was pleasantly surprised

[4229 rows x 1 columns]

In [10]:
df['category'] = pd.Series(get_category(df['reviews']))

In [11]:
df

,reviews,category
0,pretty decent airline,"Cabin Environment,Boarding Process"
1,not a good airline,"Cabin Environment,Boarding Process"
2,flight was fortunately short,Miscellaneous
3,i will never fly again with adria,Miscellaneous
4,it ruined our last days of holidays,Miscellaneous
...,...,...
4224,trip was pleasant in general,Miscellaneous
4225,unaccommodating staff,Staff Behaviour
4226,you get what you paid for,Miscellaneous
4227,very bad customer service,"Staff Behaviour,Customer Service,In-flight Exp..."
4228,i was pleasantly surprised,Miscellaneous

In [14]:
df = df[df['category']!='Miscellaneous']

In [15]:
df['category'] = df['category'].str.split(',')

C:\Users\yash\AppData\Local\Temp\ipykernel_19668\3998387990.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['category'] = df['category'].str.split(',')

In [16]:
df

,reviews,category
0,pretty decent airline,"[Cabin Environment, Boarding Process]"
1,not a good airline,"[Cabin Environment, Boarding Process]"
5,had very bad experience,[In-flight Experience]
6,worse than the budget airlines,"[Value for Money, Cabin Environment, Boarding ..."
9,the crew was nice,"[Staff Behaviour, In-flight Experience]"
...,...,...
4219,everything costs extra,[Value for Money]
4220,no food on board served for free,"[Food & Beverages, In-flight Experience]"
4222,flight is more affordable,[Value for Money]
4225,unaccommodating staff,[Staff Behaviour]
4227,very bad customer service,"[Staff Behaviour, Customer Service, In-flight ..."

In [17]:
df.to_csv('review_category_dataset_new.csv',index=False)